<div class="container my-5">
    <div class="row">
        <p class="my-0 mx-auto text-secondary">&copy; 2017-2019 Company name</p>
    </div>
    <div class="row">
        <ul class="nav mx-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
            </li>
        </ul>
    </div>
</div>